{% extends "base.html.twig" %}
{% block body %}
    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Type_produit</th>
            <th>disponilbilite_produit</th>
            <th>Note_produit</th>
            <th>description_produit</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.Nom_produit }}</td>
                <td>{{ product.Type_produit }}</td>
                <td>{{ product.Disponibilite_produit }}</td>
                <td>{{ product.Note_produit }}</td>
                <td>{{ product.Description_produit }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No content available</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}