{% extends 'base.html.twig' %}

{% block title %}RegionFabrication index{% endblock %}

{% block body %}
    <h1>RegionFabrication index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_region_fabrication</th>
                <th>Nom_region</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for regionFabrication in regionFabrications %}
            <tr>
                <td>{{ regionFabrication.IdRegionFabrication }}</td>
                <td>{{ regionFabrication.NomRegion }}</td>
                <td>
                    <a href="{{ path('region_fabrication_show', {'IdRegionFabrication': regionFabrication.IdRegionFabrication}) }}">show</a>
                    <a href="{{ path('region_fabrication_edit', {'IdRegionFabrication': regionFabrication.IdRegionFabrication}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('region_fabrication_new') }}">Create new</a>
{% endblock %}