{% extends 'base.html.twig' %}

{% block title %}Couleur{% endblock %}

{% block body %}
    <h1>Couleur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>idCouleur</th>
                <td>{{ couleur.idCouleur }}</td>
            </tr>
            <tr>
                <th>nomCouleur</th>
                <td>{{ couleur.nomCouleur }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('couleur_index') }}">back to list</a>

    <a href="{{ path('couleur_edit', {'idCouleur': couleur.idCouleur}) }}">edit</a>

    {{ include('couleur/_delete_form.html.twig') }}
{% endblock %}