{% extends 'base.html.twig' %}
{% block header %}
	<div>
		<img src="images/background/background.jpg" class="background" alt="background"/>
		<nav class="navbar navbar-default bar-nav navbar-1">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-brand contact">
					<li><span class="glyphicon glyphicon-phone"></span>04.74.61.95.26</li>
					<li><span class="glyphicon glyphicon-envelope"></span>sanspression@orange.fr</li>
				</ul>
				<ul class="nav navbar-nav navbar-right account">
					<li><a href="https://www.facebook.com/SARLSansPression/"><img src="images/facebook/facebook.png" class="facebook"></a></li>
					<li><a href="#" class="nav"><span class="glyphicon glyphicon-user pills"></span> S'inscrire</a></li>
					<li><a href="#" class="nav"><span class="glyphicon glyphicon-log-in pills"></span> Se connecter</a></li>
				</ul>
			</div>
			<div class="container-fluid">
			<div class="navbar-brand"><a href="/"><img src="images/logo/LOGO_Sans_Pression.png" alt="Logo"/></a></div>
			<ul class="nav navbar-nav navbar-right">
				<li><a class="js-scrollTo" href="#produit">Produits</a></li>
				<li><a href="#">Événements</a></li>
				<li><a href="#">Promotions</a></li>
				<li><a href="#">Magasin</a></li>
				</ul>
			</div>
		</nav>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 description">
		<h1>Sans Pression</h1><p>Cave et bar à bières. 160 références de bières en stock sur un choix de plus de 1000 références.12 pressions au bar, terrasse et grand parking.</p>
		</div>
	</div>
{% endblock %}
{% block body %}
	<section class="col-md-12 produit" id="produit">
		<h1>Nos Produits</h1>
		<h2>
			<span class="glyphicon glyphicon-menu-left"></span><span class='home-type-produit'>Nos bières</span><span class="glyphicon glyphicon-menu-right"></span>
		</h2>
		<div class="col-md-12 section-produit-biere">
			<div class="col-md-12 ligne-produit-home">
				<div class="col-md-1 blanc"></div>	
					{{ render(controller('App\\Controller\\BiereController:randBiere')) }}
					{{ render(controller('App\\Controller\\BiereController:randBiere')) }}
				<div class="col-md-1 blanc"></div>
			</div>		
			<div class="col-md-12 ligne-produit-home">
				<div class="col-md-1 blanc"></div>	
					{{ render(controller('App\\Controller\\BiereController:randBiere')) }}
					{{ render(controller('App\\Controller\\BiereController:randBiere')) }}
				<div class="col-md-1 blanc">
				</div>
			</div>			
		</div>
		<div class="col-md-12 section-produit-tireuse">
			{{ render(controller('App\\Controller\\TireuseController:showHome')) }}
		</div>
		<div class="col-md-12 section-produit-vin">
			<div class="col-md-12 ligne-produit-home">
				<div class="col-md-1 blanc"></div>	
					{{ render(controller('App\\Controller\\VinController:randVin')) }}
					{{ render(controller('App\\Controller\\VinController:randVin')) }}
				<div class="col-md-1 blanc">
				</div>
			</div>		
			<div class="col-md-12 ligne-produit-home">
				<div class="col-md-1 blanc"></div>	
					{{ render(controller('App\\Controller\\VinController:randVin')) }}
					{{ render(controller('App\\Controller\\VinController:randVin')) }}
				<div class="col-md-1 blanc">
				</div>
			</div>			
		</div>
		<div class="col-md-12 section-produit-alcool">
			<div class="col-md-12 ligne-produit-home">
				<div class="col-md-1 blanc"></div>	
					{{ render(controller('App\\Controller\\AlcoolController:randAlcool')) }}
					{{ render(controller('App\\Controller\\AlcoolController:randAlcool')) }}
				<div class="col-md-1 blanc">
				</div>
			</div>		
			<div class="col-md-12 ligne-produit-home">
				<div class="col-md-1 blanc"></div>	
					{{ render(controller('App\\Controller\\AlcoolController:randAlcool')) }}
					{{ render(controller('App\\Controller\\AlcoolController:randAlcool')) }}
				<div class="col-md-1 blanc">
				</div>
			</div>			
		</div>		
		<div class="col-md-12 section-produit-diver">
			<div class="col-md-12 ligne-produit-home">
				<div class="col-md-1 blanc"></div>	
					{{ render(controller('App\\Controller\\DiversController:randDivers')) }}
					{{ render(controller('App\\Controller\\DiversController:randDivers')) }}
				<div class="col-md-1 blanc">
				</div>
			</div>		
			<div class="col-md-12 ligne-produit-home">
				<div class="col-md-1 blanc"></div>	
					{{ render(controller('App\\Controller\\DiversController:randDivers')) }}
					{{ render(controller('App\\Controller\\DiversController:randDivers')) }}
				<div class="col-md-1 blanc">
				</div>
			</div>			
		</div>
		<div class="col-md-12 section-produit-verre">
			<div class="col-md-12 ligne-produit-home">
				<div class="col-md-1 blanc"></div>	
					{{ render(controller('App\\Controller\\DiversController:randVerre')) }}
					{{ render(controller('App\\Controller\\DiversController:randVerre')) }}
				<div class="col-md-1 blanc">
				</div>
			</div>		
			<div class="col-md-12 ligne-produit-home">
				<div class="col-md-1 blanc"></div>	
					{{ render(controller('App\\Controller\\DiversController:randVerre')) }}
					{{ render(controller('App\\Controller\\DiversController:randVerre')) }}
				<div class="col-md-1 blanc">
				</div>
			</div>			
		</div>
		<div class="col-md-5 blanc"></div><a href=search><button type="button" class="col-md-2 btn-produit-home">Tous nos produits</button></a><div class="col-md-5 blanc"></div>
	</section>
	<section class="evenement"
	
	</section>
	
{% endblock %}
{% block script %}
	<script language="JavaScript" type="text/javascript"src="/js/home.js"></script>
{% endblock %}