{% extends 'base.html.twig' %}
{% block header %}
	<div>
		<img src="images/background/background.jpg" class="background" alt="background"/>
		<nav class="navbar navbar-default bar-nav navbar-1">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-brand contact">
					<li><span class="glyphicon glyphicon-phone"></span>04.74.61.95.26</li>
					<li><span class="glyphicon glyphicon-envelope"></span>sanspression@orange.fr</li>
				</ul>
				<ul class="nav navbar-nav navbar-right account">
					<li><a href="https://www.facebook.com/SARLSansPression/"><img src="images/facebook/facebook.png" class="facebook"></a></li>
					<li><a href="#" class="nav"><span class="glyphicon glyphicon-user pills"></span> S'inscrire</a></li>
					<li><a href="#" class="nav"><span class="glyphicon glyphicon-log-in pills"></span> Se connecter</a></li>
				</ul>
			</div>
			<div class="container-fluid">
			<div class="navbar-brand" href="#"><img src="images/logo/LOGO_Sans_Pression.png" alt="Logo"/></div>
			<ul class="nav navbar-nav navbar-right">
				<li><a class="js-scrollTo" href="#produit">Produits</a></li>
				<li><a href="#">Événements</a></li>
				<li><a href="#">Promotions</a></li>
				<li><a href="#">Magasin</a></li>
				</ul>
			</div>
		</nav>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 description">
		<h1>Sans Pression</h1><p>Cave et bar à bières. 160 références de bières en stock sur un choix de plus de 1000 références.12 pressions au bar, terrasse et grand parking.</p>
		</div>
	</div>
{% endblock %}
{% block body %}
	<section class="produit" id="produit">
		<h1>Nos Produits</h1>
		<h2>
			<span class="glyphicon glyphicon-menu-left"></span><span class='home-type-produit'>Nos bières</span><span class="glyphicon glyphicon-menu-right"></span>
		</h2>
		<div class="col-md-12 section-produit-biere">
			<div class="col-md-12 ligne-produit-home">
				<div class="col-md-1 blanc"></div>	
					{{ render(controller('App\\Controller\\BiereController:randBiere')) }}
					{{ render(controller('App\\Controller\\BiereController:randBiere')) }}
				<div class="col-md-1 blanc">
				</div>
			</div>		
			<div class="col-md-12 ligne-produit-home">
				<div class="col-md-1 blanc"></div>	
					{{ render(controller('App\\Controller\\BiereController:randBiere')) }}
					{{ render(controller('App\\Controller\\BiereController:randBiere')) }}
				<div class="col-md-1 blanc">
				</div>
			</div>		
			<div class="col-md-12 ligne-produit-home">
				<div class="col-md-1 blanc"></div>	
					{{ render(controller('App\\Controller\\BiereController:randBiere')) }}
					{{ render(controller('App\\Controller\\BiereController:randBiere')) }}
				<div class="col-md-1 blanc">
				</div>
			</div>		
		</div>
		<div class="col-md-12 section-produit-tireuse">
			<div class="col-md-12 div-image-tireuse">
				<div class="relative-top">
					<div class="col-md-2 blanc"></div>
					<div class="col-md-8 div-tableau-tireuse">
						<table class="table-table-tireuse">
							<tr class="ligne-table">
								<td class="col-md-2 click-tireuse tireuse-1" id="tireuse-1">Cuvée des trolls</td><td class="col-md-2 click-tireuse tireuse-2" id="tireuse-2">51 State IPA</td>
							</tr><tr class="ligne-table">
								<td class="col-md-2 click-tireuse tireuse-3" id="tireuse-3">Mystic cerise</td><td class="col-md-2 click-tireuse tireuse-4" id="tireuse-4">Keizer charles quint</td>
							</tr>
							<tr class="ligne-table">
								<td class="col-md-2 click-tireuse tireuse-5" id="tireuse-5">Super 8 blanche</td><td class="col-md-2 click-tireuse tireuse-6" id="tireuse-6">Coq hardi</td>
							</tr>
							<tr class="ligne-table">
								<td class="col-md-2 click-tireuse tireuse-7" id="tireuse-7">Richard dit le castor</td><td class="col-md-2 click-tireuse tireuse-8" id="tireuse-8">fagnes triple</td>
							</tr>
							<tr class="ligne-table">
								<td class="col-md-2 click-tireuse tireuse-9" id="tireuse-9">Chouffe soleil</td><td class="col-md-2 click-tireuse tireuse-10" id="tireuse-10">Val dieu brune</td>
							</tr>
							<tr class="ligne-table">
								<td class="col-md-2 click-tireuse tireuse-11" id="tireuse-11">Rouget printemps</td><td class="col-md-2 click-tireuse tireuse-12" id="tireuse-12">Guinness</td>
							</tr>							
						</table>
					</div>
					<div class="col-md-2 blanc"></div>
				</div>
				<table class="table-image-tireuse">
					<tr>
						<td class="tireuse click-tireuse tireuse-1" id="tireuse-1"></td>
						<td class="tireuse click-tireuse tireuse-2" id="tireuse-2"></td>
						<td class="tireuse click-tireuse tireuse-3" id="tireuse-3"></td>
						<td class="tireuse click-tireuse tireuse-4" id="tireuse-4"></td>
						<td class="tireuse click-tireuse tireuse-5" id="tireuse-5"></td>
						<td class="tireuse click-tireuse tireuse-6" id="tireuse-6"></td>
						<td class="tireuse click-tireuse tireuse-7" id="tireuse-7"></td>
						<td class="tireuse click-tireuse tireuse-8" id="tireuse-8"></td>
						<td class="tireuse click-tireuse tireuse-9" id="tireuse-9"></td>
						<td class="tireuse click-tireuse tireuse-10" id="tireuse-10"></td>
						<td class="tireuse click-tireuse tireuse-11" id="tireuse-11"></td>
						<td class="tireuse click-tireuse tireuse-12" id="tireuse-12"></td>
					</tr>
				</table>
			</div>
			<div class="col-md-12 description-tireuse">
				<span class="titre-description-tireuse"><h3>Nom du produit-1</h3></span>
				<div class="col-md-5 barre-separation"></div>
				<p class="produit-home-description">
					Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, patre Constantio Constantini fratre imperatoris, matreque Galla sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et praefecturae.

					Quare talis improborum consensio non modo excusatione amicitiae tegenda non est sed potius supplicio omni vindicanda est, ut ne quis concessum putet amicum vel bellum patriae inferentem sequi; quod quidem, ut res ire coepit, haud scio an aliquando futurum sit. Mihi autem non minori curae est, qualis res publica post mortem meam futura, quam qualis hodie sit.

					Quid? qui se etiam nunc subsidiis patrimonii aut amicorum liberalitate sustentant, hos perire patiemur? An, si qui frui publico non potuit per hostem, hic tegitur ipsa lege censoria; quem is frui non sinit, qui est, etiamsi non appellatur, hostis, huic ferri auxilium non oportet? Retinete igitur in provincia diutius eum, qui de sociis cum hostibus, de civibus cum sociis faciat pactiones, qui hoc etiam se pluris esse quam collegam putet, quod ille vos tristia voltuque deceperit, ipse numquam se minus quam erat, nequam esse simularit. Piso autem alio quodam modo gloriatur se brevi tempore perfecisse, ne Gabinius unus omnium nequissimus existimaretur.
				</p>
				<span class="col-md-12 ">
						<div class="col-md-10 barre-separation-2">
							<p>Dubuisson</p>
						</div>
						<div class="col-md-10 barre-separation-2">
							<p class="col-md-6 produit-home-tableau-gauche">Belgique</p>
							<p class="col-md-6">Aromatisée</p>
						</div>
						<div class="col-md-10 barre-separation-2">
							<p class="col-md-6 produit-home-tableau-gauche">8,5°</p>
							<p class="col-md-6"></p>
						</div>
				</span>
				<span class="col-md-6 dispo-happy-hour"><div class='glyphicon glyphicon-ok-circle'></div>Indisponible en happy hour</span>
				<span class="col-md-6 note">
				<div class="col-md-3">Note Global :</div>
				<div class="col-md-9">
					<div class="glyphicon glyphicon-star note-star"></div>
					<div class="glyphicon glyphicon-star note-star"></div>
					<div class="glyphicon glyphicon-star note-star"></div>
					<div class="glyphicon glyphicon-star note-star"></div>
					<div class="glyphicon glyphicon-star-empty note-star note-star-empty"></div>
				</div>
				</span>				
				<span class="col-md-6 note col-md-offset-6">
				<div class="col-md-3">Ma Note :</div>
				<div class="col-md-9">
					<div class="glyphicon glyphicon-star note-star"></div>
					<div class="glyphicon glyphicon-star note-star"></div>
					<div class="glyphicon glyphicon-star note-star"></div>
					<div class="glyphicon glyphicon-star note-star"></div>
					<div class="glyphicon glyphicon-star-empty note-star note-star-empty"></div>
				</div>
				</span>
			</div>
		</div>
			<div class="col-md-5 blanc"></div><button type="button" class="col-md-2 btn-produit-home">Tous nos produits</button><div class="col-md-5 blanc"></div>
	</section>
	<section class="evenement"
	
	</section>
	
{% endblock %}