{% extends 'base.html.twig' %}

{% block title %}Vignoble index{% endblock %}

{% block body %}
    <h1>Vignoble index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdVignoble</th>
                <th>NomVignoble</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vignoble in vignobles %}
            <tr>
                <td>{{ vignoble.IdVignoble }}</td>
                <td>{{ vignoble.NomVignoble }}</td>
                <td>
                    <a href="{{ path('vignoble_show', {'IdVignoble': vignoble.IdVignoble}) }}">show</a>
                    <a href="{{ path('vignoble_edit', {'IdVignoble': vignoble.IdVignoble}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vignoble_new') }}">Create new</a>
{% endblock %}