{% extends 'base.html.twig' %}

{% block title %}Brasserie index{% endblock %}

{% block body %}
    <h1>Brasserie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>idBrasserie</th>
                <th>nomBrasserie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for brasserie in brasseries %}
            <tr>
                <td>{{ brasserie.idBrasserie }}</td>
                <td>{{ brasserie.nomBrasserie }}</td>
                <td>
                    <a href="{{ path('brasserie_show', {'idBrasserie': brasserie.idBrasserie}) }}">show</a>
                    <a href="{{ path('brasserie_edit', {'idBrasserie': brasserie.idBrasserie}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('brasserie_new') }}">Create new</a>
{% endblock %}