{% extends 'base.html.twig' %}

{% block title %}Biere index{% endblock %}

{% block body %}
    <h1>Biere index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdProduit</th>
                <th>NomProduit</th>
                <th>DisponibiliteProduit</th>
                <th>NoteProduit</th>
                <th>DescriptionProduit</th>
                <th>DateCreationProduit</th>
                <th>AltPhoto</th>
                <th>Degree_biere</th>
                <th>Note_amertume_biere</th>
                <th>Note_alcool_biere</th>
                <th>Note_puissance_biere</th>
                <th>Volume</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for biere in bieres %}
            <tr>
                <td>{{ biere.IdProduit }}</td>
                <td>{{ biere.NomProduit }}</td>
                <td>{{ biere.DisponibiliteProduit }}</td>
                <td>{{ biere.NoteProduit }}</td>
                <td>{{ biere.DescriptionProduit }}</td>
                <td>{{ biere.DateCreationProduit ? biere.DateCreationProduit|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ biere.AltPhoto }}</td>
                <td>{{ biere.Degree_biere }}</td>
                <td>{{ biere.Note_amertume_biere }}</td>
                <td>{{ biere.Note_alcool_biere }}</td>
                <td>{{ biere.Note_puissance_biere }}</td>
                <td>{{ biere.Volume }}</td>
                <td>
                    <a href="{{ path('biere_show', {'IdProduit': biere.IdProduit}) }}">show</a>
                    <a href="{{ path('biere_edit', {'IdProduit': biere.IdProduit}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('biere_new') }}">Create new</a>
{% endblock %}