{% extends 'base.html.twig' %}

{% block title %}Biere index{% endblock %}

{% block body %}
    <h1>Biere index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>NomProduit</th>
				<th>TypeBiere</th>
				<th>Couleur</th>
				<th>TypeConteneur</th>
				<th>DateCreationProduit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
		{% for biere in bieres %}
            <tr>
                <td>{{ biere.NomProduit }}</td>
				<td>{{ biere.typeBiere.NomTypeBiere}}</td>
				<td>{{ biere.couleur.NomCouleur}}</td>
				<td>
				{% for conteneur in biere.typeConteneurs %}
					{{ conteneur }}<br>
				{% endfor %}
				</td>
				<td>{{ biere.DateCreationProduit ? biere.DateCreationProduit|date('Y-m-d H:i:s') : '' }}</td>
				<td>
                    <a href="{{ path('biere_show', {'IdProduit': biere.IdProduit}) }}">show</a>
                    <a href="{{ path('biere_edit', {'IdProduit': biere.IdProduit}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}	
        </tbody>
    </table>

    <a href="{{ path('biere_new') }}">Create new</a>
{% endblock %}