<a href="/search/{{divers.idProduit}}" target="blank" class="href_produit">
<div class="col-md-5 produit-home">
	<img src={{photoProduit_directory}}/{{divers.NomPhoto}} class="col-md-4 produit-home-photo">
	<div class="col-md-8 produit-home-text">
		<h3 class="fond-img">{{divers.NomProduit}}</h3>
		<div class="col-md-8 barre-separation"></div>
		<p class="produit-home-description">{{divers.DescriptionProduit|slice(0,150)}}</p>
	</div>
</div>
</a>