{% extends 'base.html.twig' %}

{% block title %}Tireuse index{% endblock %}

{% block body %}
    <h1>Tireuse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>idTireuse</th>
                <th>NomProduit</th>
                <th>DisponibleHappyHourTireuse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tireuse in tireuses %}
            <tr>
                <td>{{ tireuse.idTireuse }}</td>
                <td>{{ tireuse.Biere.NomProduit }}</td>
                <td>{{ tireuse.DisponibleHappyHourTireuse ? 'OUI' : 'NON' }}</td>
                <td>
                    <a href="{{ path('tireuse_show', {'idTireuse': tireuse.idTireuse}) }}">show</a>
                    <a href="{{ path('tireuse_edit', {'idTireuse': tireuse.idTireuse}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tireuse_new') }}">Create new</a>
{% endblock %}