{% extends 'base.html.twig' %}

{% block title %}Tireuse{% endblock %}

{% block body %}
    <h1>Tireuse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdTireuse</th>
                <td>{{ tireuse.idTireuse }}</td>
            </tr>
            <tr>
                <th>NomProduit</th>
                <td>{{ tireuse.Biere.NomProduit }}</td>
            </tr>
            <tr>
                <th>DisponibiliteProduit</th>
                <td>{{ tireuse.Biere.DisponibiliteProduit }}</td>
            </tr>
            <tr>
                <th>NoteProduit</th>
                <td>{{ tireuse.Biere.NoteProduit }}</td>
            </tr>
            <tr>
                <th>DescriptionProduit</th>
                <td>{{ tireuse.Biere.DescriptionProduit }}</td>
            </tr>
            <tr>
                <th>DateCreationProduit</th>
                <td>{{ tireuse.Biere.DateCreationProduit ? tireuse.Biere.DateCreationProduit|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>AltPhoto</th>
                <td>{{ tireuse.Biere.AltPhoto }}</td>
            </tr>
            <tr>
                <th>NomPhoto</th>
                <td>{{ tireuse.Biere.NomPhoto }}</td>
            </tr>
            <tr>
                <th>DegreeBiere</th>
                <td>{{ tireuse.Biere.DegreeBiere }}</td>
            </tr>
            <tr>
                <th>NoteAmertumeBiere</th>
                <td>{{ tireuse.Biere.NoteAmertumeBiere }}</td>
            </tr>
            <tr>
                <th>NoteAlcoolBiere</th>
                <td>{{ tireuse.Biere.NoteAlcoolBiere }}</td>
            </tr>
            <tr>
                <th>NotePuissanceBiere</th>
                <td>{{ tireuse.Biere.NotePuissanceBiere }}</td>
            </tr>
            <tr>
                <th>Volume</th>
				<td>
				{% for conteneur in tireuse.biere.typeConteneurs %}
					{{ conteneur }}<br>
				{% endfor %}
				</td>	
            </tr>
            <tr>
                <th>DisponibleHappyHourTireuse</th>
                <td>{{ tireuse.DisponibleHappyHourTireuse ? 'OUI' : 'NON
				' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tireuse_index') }}">back to list</a>

    <a href="{{ path('tireuse_edit', {'idTireuse': tireuse.idTireuse}) }}">edit</a>

    {{ include('tireuse/_delete_form.html.twig') }}
{% endblock %}