{% extends 'base.html.twig' %}

{% block title %}Tireuse{% endblock %}

{% block body %}
    <h1>Tireuse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdProduit</th>
                <td>{{ tireuse.IdProduit }}</td>
            </tr>
            <tr>
                <th>NomProduit</th>
                <td>{{ tireuse.NomProduit }}</td>
            </tr>
            <tr>
                <th>DisponibiliteProduit</th>
                <td>{{ tireuse.DisponibiliteProduit }}</td>
            </tr>
            <tr>
                <th>NoteProduit</th>
                <td>{{ tireuse.NoteProduit }}</td>
            </tr>
            <tr>
                <th>DescriptionProduit</th>
                <td>{{ tireuse.DescriptionProduit }}</td>
            </tr>
            <tr>
                <th>DateCreationProduit</th>
                <td>{{ tireuse.DateCreationProduit ? tireuse.DateCreationProduit|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>AltPhoto</th>
                <td>{{ tireuse.AltPhoto }}</td>
            </tr>
            <tr>
                <th>NomPhoto</th>
                <td>{{ tireuse.NomPhoto }}</td>
            </tr>
            <tr>
                <th>DegreeBiere</th>
                <td>{{ tireuse.DegreeBiere }}</td>
            </tr>
            <tr>
                <th>NoteAmertumeBiere</th>
                <td>{{ tireuse.NoteAmertumeBiere }}</td>
            </tr>
            <tr>
                <th>NoteAlcoolBiere</th>
                <td>{{ tireuse.NoteAlcoolBiere }}</td>
            </tr>
            <tr>
                <th>NotePuissanceBiere</th>
                <td>{{ tireuse.NotePuissanceBiere }}</td>
            </tr>
            <tr>
                <th>Volume</th>
                <td>{{ tireuse.Volume }}</td>
            </tr>
            <tr>
                <th>DisponibleHappyHourTireuse</th>
                <td>{{ tireuse.DisponibleHappyHourTireuse ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tireuse_index') }}">back to list</a>

    <a href="{{ path('tireuse_edit', {'IdProduit': tireuse.IdProduit}) }}">edit</a>

    {{ include('tireuse/_delete_form.html.twig') }}
{% endblock %}