{% extends 'base.html.twig' %}

{% block title %}TypeBiere{% endblock %}

{% block body %}
    <h1>TypeBiere</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_type_biere</th>
                <td>{{ type_biere.id_type_biere }}</td>
            </tr>
            <tr>
                <th>Nom_type_biere</th>
                <td>{{ type_biere.Nom_type_biere }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_biere_index') }}">back to list</a>

    <a href="{{ path('type_biere_edit', {'id_type_biere': type_biere.id_type_biere}) }}">edit</a>

    {{ include('type_biere/_delete_form.html.twig') }}
{% endblock %}