{% extends 'base.html.twig' %}

{% block title %}TypeConteneur index{% endblock %}

{% block body %}
    <h1>TypeConteneur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_type_conteneur</th>
                <th>Nom_type_conteneur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_conteneur in type_conteneurs %}
            <tr>
                <td>{{ type_conteneur.id_type_conteneur }}</td>
                <td>{{ type_conteneur.Nom_type_conteneur }}</td>
                <td>
                    <a href="{{ path('type_conteneur_show', {'id_type_conteneur': type_conteneur.id_type_conteneur}) }}">show</a>
                    <a href="{{ path('type_conteneur_edit', {'id_type_conteneur': type_conteneur.id_type_conteneur}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_conteneur_new') }}">Create new</a>
{% endblock %}