{% extends 'base.html.twig' %}

{% block title %}TypeConteneur index{% endblock %}

{% block body %}
    <h1>TypeConteneur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>idTypeConteneur</th>
                <th>nomTypeConteneur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_conteneur in type_conteneurs %}
            <tr>
                <td>{{ type_conteneur.idTypeConteneur }}</td>
                <td>{{ type_conteneur.nomTypeConteneur }}</td>
                <td>
                    <a href="{{ path('type_conteneur_show', {'idTypeConteneur': type_conteneur.idTypeConteneur}) }}">show</a>
                    <a href="{{ path('type_conteneur_edit', {'idTypeConteneur': type_conteneur.idTypeConteneur}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_conteneur_new') }}">Create new</a>
{% endblock %}