{% extends 'base.html.twig' %}

{% block title %}TypeConteneur{% endblock %}

{% block body %}
    <h1>TypeConteneur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_type_conteneur</th>
                <td>{{ type_conteneur.id_type_conteneur }}</td>
            </tr>
            <tr>
                <th>Nom_type_conteneur</th>
                <td>{{ type_conteneur.Nom_type_conteneur }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_conteneur_index') }}">back to list</a>

    <a href="{{ path('type_conteneur_edit', {'id_type_conteneur': type_conteneur.id_type_conteneur}) }}">edit</a>

    {{ include('type_conteneur/_delete_form.html.twig') }}
{% endblock %}