{% extends 'base.html.twig' %}

{% block title %}TypeConteneur{% endblock %}

{% block body %}
    <h1>TypeConteneur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>idTypeConteneur</th>
                <td>{{ type_conteneur.idTypeConteneur }}</td>
            </tr>
            <tr>
                <th>nomTypeConteneur</th>
                <td>{{ type_conteneur.nomTypeConteneur }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_conteneur_index') }}">back to list</a>

    <a href="{{ path('type_conteneur_edit', {'idTypeConteneur': type_conteneur.idTypeConteneur}) }}">edit</a>

    {{ include('type_conteneur/_delete_form.html.twig') }}
{% endblock %}